li {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 2px solid var(--blue);
  padding: 8px;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}

li:hover {
  background-color: var(--pink);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
