body {
  background-color: var(--dark-blue);
  color: white;
}

h1 {
  font-size: 48px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--yellow);
  font-weight: bold;
}

.important-text {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.main-container {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

<<<<<<< HEAD
ul, ol {
=======
ul {
>>>>>>> 288b077 (add styles to buttons section)
  display: flex;
  flex-direction: column;
  gap: 8px;
}

<<<<<<< HEAD
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.number-highlighted {
  color: var(--yellow);
}

.equation-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation-img {
  margin: auto;
  width: 300px;
}

.note {
  font-weight: bold;
  color: var(--blue);
=======
li {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 2px solid var(--blue);
  padding: 8px;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}

li:hover {
  background-color: var(--pink);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 288b077 (add styles to buttons section)
}
