body {
  background-color: var(--dark-blue);
  color: white;
}

h1 {
  font-size: 48px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--yellow);
  font-weight: bold;
}

.important-text {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.main-container {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.number-highlighted {
  color: var(--yellow);
}

.equation-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation-img {
  margin: auto;
  width: 300px;
}

.note {
  font-weight: bold;
  color: var(--blue);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fontsize-icon {
  width: 20px;
  text-align: center;
  font-size: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

.fontsize-up,
.fontsize-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--blue-button);
}

.fontsize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--blue-button);
  padding: 4px 8px;
  border-radius: 4px;
}
